.page{
    padding:1%;
    margin:auto;
}
.page[size='A4']{
    width: 21cm;
    height: 29.7cm;
}

.page[direction="vertical"]{
    display: flex;
    flex-direction: column;
}

#content{
    padding:10px;
}
#content > :not(:last-child)::after{
    content:"";
    display: block;
    border-bottom: 1px dotted black;
}
